langchain
langchain-community
langchain-openai
langchain-groq
langgraph
openai
faiss-cpu
pydantic
python-dotenv
beautifulsoup4
requests
streamlit
wikipedia
pypdf
plotly
sqlalchemy
pymysql
psycopg2-binary
pandas==2.1.4
numpy==1.26.3






